.main-container{
    display: flex;
    width: 100%;
}
.cart-container{
    width: 20%;
    text-align: center;
}

/* <!---------- products CSS ----------> */
.products-container{
    width: 80%;
}
.products-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    grid-gap: 50px;
    margin: 20px;
}


/* <!---------- product CSS ----------> */

.product-image{
    width: 100%;
    height:fit-content;
}
