/* <!---------- products CSS ----------> */
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    display: flex;
    justify-content: center;
}


/* <!---------- product CSS ----------> */

.product-image{
    width: 100%;
    height:fit-content;
}
